body {
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.02px;
  background-color: #fff;
  overflow-x: hidden;
}

.btn {

}

svg {
  fill: red;
}

.swiper {
  width: 600px;
  height: 300px;
}